{% embed 'base.twig' %}
  {% block body %}
    <div class="success">
      <span>404: Nope, sorry nothing here. <a href="/">Go back and try again</a></span>
    </div>
  {% endblock %}
{% endembed %}
